*{
    box-sizing: border-box;
    margin: auto auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    margin-top: 60px;
    width: 300px;
    height: 400px;
    border: 2px red solid;
    padding: 20px;
}
.calc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    
}
#display{
    margin-bottom: 35px;
    width: 100%;
    text-align: right;
    height: 50px;
    display: inline-block;
    font-size: 40px;
}
button{
    width: 100%;
}
.number{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.number:hover{
    background-color: #ddd;
}
#clearHist{
    margin-top: 10px;
}