*{
    margin: auto;
    box-sizing: border-box;
}
.container{
    max-width: 80%;
}
.head-title{
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    padding: 0;
}
#list-books{
    padding: 0;
    flex: 0 0 100%;

}
ul{
    display: flex;
    list-style: none;
    padding: 0;
 
}
li{
    width: 25%;
    margin-left: 0;
    margin-right: 0;
}
label{
    display: inline-block;
    width: 120px;
    margin: 5px 0;
}
form{
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;
    flex: 0 0 50%;
    border: 2px solid grey;
    margin-bottom: 10px;

}