*{
    margin: auto auto;
}
form{
    width: 400px;
}
label{
    display: block;
    position: relative;
    margin: 5px;
}
input[type="text"], input[type="checkbox"], select{
    display: block;
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
}