*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: teal;
}
#container{
    background-color: lightgreen;
    width: 600px;
    height: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    height: 40px;
    width: 100px;
    background-color: rgb(179, 124, 124);
}
.flex-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	height: 30vh;
	border: 4px solid orange;
	padding: 15px;
	background-color: yellow;
}
.flex-item{
	width: 25%;
	height: 120px;
	background-color: #ddd;
	border: 2p solid black;
	margin: 0 15px;
}
.flex-item:nth-child(2){
	width: 40%;
}